---
title: pkgrep - advanced member search
---
{% extends "base.njk" %}
{% block head_extra %}
	<link rel="stylesheet" href="{{ meow.assetBase }}/css/main.css">
	<link rel="stylesheet" href="index.css">
{% endblock %}
{% block content %}
	{% include "nav.njk" %}
	<h1>pkgrep - advanced member search</h1>
	<p>This tool allows you to do "advanced" searches for members of your <a href="https://pluralkit.me">PluralKit</a> system.</p>
	<p>A member must match <em>all</em> of the given search terms to be returned in the results.</p>

	<form id="query">
		<div class="fieldContainer">
			<label for="query-token">PluralKit token</label>
			<input type="password" name="token" id="query-token" required>
		</div>

		<label for="query-token-save">
			<input name="token-save" id="query-token-save" type="checkbox">
			Save PluralKit token to browser?
		</label>

		<div id="query-fields"></div>

		<input type="hidden" name="json" id="query-json" value="{}">
		<button class="primary" type="submit">Search!</button>
	</form>

	<div id="result"></div>
	<script src="index.js"></script>
{% endblock %}
