:root
{
	--listy-foreground: hsla(0, 0%, 0%, 1);
	--listy-background: hsla(220, 15%, 95%, 1);
	--listy-border-color: hsla(220, 10%, 90%, 1);
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--listy-foreground: hsla(0, 100%, 100%, 1);
		--listy-background: hsla(225, 6%, 12%, 1);
		--listy-border-color: hsla(202, 4%, 61%, 1);
	}
}

.listy-inline-list,
.listy-inline-list > li
{
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.listy-inline-list > li:not(:last-child)::after
{
	content: ',\00a0';
}

.listy-showbrackets:not(:empty)::before
{
	content: '\00a0(';
}

.listy-showbrackets:not(:empty)::after
{
	content: ')\00a0';
}

.listy-card
{
	color: var(--listy-foreground);
	background: var(--listy-background);
	border-radius: 3px;
	border-color: var(--listy-border-color);
	border-left-width: 4px;
	border-left-style: solid;

	padding: 0.5rem;
	margin: 1rem;
}

.listy-card-list,
.listy-card-list li
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.listy-card-list
{
	margin: 1rem 0;
}

.listy-details-color
{
	display: inline-flex !important;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	bottom: -0.175rem;
	gap: 0.25rem;
}

.listy-details-color-block
{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: #000;
	border-radius: 4px;
	vertical-align: center;
	border: 1px solid var(--listy-border-color);
}

.listy-details-avatar
{
	margin: 0 1rem;
}

.listy-details-avatar > img
{
	width: 100%;
	max-width: 32rem;
	height: auto;
	border-radius: 4px;
}
