---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="{{ meow.assetBase }}/fonts/fa4/styles.css">
	<link rel="shortcut icon" href="{{ meow.assetBase }}/myriad.png">
	<link rel="apple-touch-icon" href="{{ meow.assetBase }}/myriad.png">
	<title>PKswitcher</title>
</head>
<body>
	<div id="app">
		<div id="app-loading">
			<span>Loading…</span>
		</div>
	</div>

	<script src="app.js" data-appselector="#app" async></script>
</body>
</html>
