---
layout: page.njk
title: iris' tools and miscellaneous things
---

<p>Meow!</p>

<section id="pluralkit">
	<header>
		<h1><a href="https://pluralkit.me" rel="nofollow">PluralKit</a> tools</h1>
	</header>

	<ul>
		<li><a href="/fronters/">PKfronters</a> - a site (and embeddable widget) for displaying your system's fronters</li>
		<li><a href="/switch/">PKswitcher</a> (<strong>ALPHA</strong>) - a webapp for logging, viewing, and editing switches</li>
		<li><a href="/pk/listy/">listy</a> - <code>pk;list</code> but in a browser</li>
		<li><a href="/pk/grep/">grep</a> - "advanced" search for your system members</li>
		<li>
			tiny PK tools:
			<ul>
				<li><a href="/pk/tiny/quicklist/">quick list: IDs/names of all system members/groups</a></li>
				<li><a href="/pk/tiny/quicklist/groupmembers/">quick list: IDs/names of members of a specific group</a></li>
				<li><a href="/pk/tiny/prefixcount/">name prefix counter</a></li>
				<li><a href="/pk/tiny/groupadd/">add all system members to a group</a></li>
				<li><a href="/pk/tiny/dlscript/">image download script generator</a></li>
				<li><a href="/pk/tiny/urlrewrite/">rewrite image URLs for your own CDN</a></li>
			</ul>
		</li>
	</ul>
</section>

<section id="site-info">
	<header>
		<h1>Site info</h1>
	</header>

	<p>
		This website is open source:
		see <a href="https://github.com/u1f408/irys-webby" rel="nofollow">github.com/u1f408/irys-webby</a>.
	</p>

	<p>
		You are looking at Git revision <code>{{ meow.gitRev }}</code>.
	</p>
</section>
