<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	{% block head_extra %}{% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>
	{% block content %}
	{{ content | safe }}
	{% endblock %}
</body>
</html>
