{% extends "base.njk" %}
{% block head_extra %}
	<link rel="stylesheet" href="{{ meow.assetBase }}/css/main.css">
{% endblock %}

{% block content %}
	<main id="page-content">
		<h1>{{ title }}</h1>
		{{ content | safe }}
	</main>
{% endblock %}
