:root {
	--background: #fafaff;
	--foreground: #181819;
	--top-nav--background: #ddddf3;
	--top-nav--foreground: #181819;
	--link--foreground: #1212b3;
	--code--background: #dadada;
	--code--foreground: #030303;
	--form-label--background: #f2f2f2;
	--form-input--background: #ffffff;
	--form-input--foreground: #0d0d0d;
	--form-input--border-color: #0d0d0d;
	--footer--foreground: #57575b;
	--body--width: 64rem;
}

@media screen and (prefers-color-scheme: dark)
{
	:root
	{
		--background: #181819;
		--foreground: #fafaff;
		--top-nav--background: #262640;
		--top-nav--foreground: #ededf7;
		--link--foreground: #dadafb;
		--code--background: #030303;
		--code--foreground: #f3f3f3;
		--form-label--background: #0d0d0d;
		--form-input--background: #000000;
		--form-input--foreground: #f2f2f2;
		--form-input--border-color: #f2f2f2;
	}
}

*,
*::before,
*::after
{
	box-sizing: border-box;
}
