name: "Deploy assets"
on:
  push:
    branches:
      - main
    paths:
      - 'src/assets/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - run: nix develop --command npm install
    - run: nix develop --command npm run clean
    - run: nix develop --command env IS_DEPLOYMENT_BUILD=1 npm run build:assets
    - name: Deploy to BunnyCDN
      uses: u1f408/bunnycdn-storage-deploy@main
      with:
        source: "dist/assets"
        storageEndpoint: "la.storage.bunnycdn.com"
        storageZoneName: "irys-assets"
        accessKey: "${{ secrets.ASSETS_BUNNYCDN_STORAGE_KEY }}"
        pullZoneId: "${{ secrets.ASSETS_BUNNYCDN_PULLZONE_ID }}"
        pullZoneAccessKey: "${{ secrets.BUNNYCDN_API_KEY }}"
        purge: "true"
